.podcast-main .podcast-intro {
  height: 520px;
  background: url("https://www.itschool.ro/_next/static/media/background.008d1f37.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
